body{
  font-family: 'Montserrat',sans-serif;
}
h1{
  font-family: 'Montserrat',sans-serif;
  font-weight: 900;
  line-height: 1.5;
  size: 3.5rem;
}
h2{
  font-family: 'Ubuntu';
  font-size: 3rem;
  line-height: 1.5;

}
h3{
  font-family: 'Montserrat',sans-serif;
  font-weight: bold;
}
p{
  color: #8f8f8f;
}
.container-fluid{
  background-color: #ff4c68;
  padding: 3% 15% 7%;
}
/* images */
.iphone-mockup{
  transform: rotate(25deg);
  width: 25%;
  position: absolute;
  right: 20%;
}
#title{
  background-color: #ff4c68;
  color: #fff;
  text-align: left;
}
/* navigation */
.navbar{
  padding: 0 0 2.5rem;

}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2rem;
  font-weight:bold;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-weight: 500;
}
/* buttons */
.btn{
  margin: 5% 3% 5% 0;
}
#features{
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}
.feature-box{
  padding: 4.5%;
  text-align: center;
}
.fa-solid{
  color: #ef8172;
  margin-bottom: 1rem;
}
.fa-solid:hover{
  color:  #ff4c68;
}
#testimonials{
  text-align: center;
  background-color: #ef8172;
  color: #fff;

}
.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;

}
#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}
.carousel-item{
  padding: 7% 15%;
}
#pricing{
  padding: 100px;
  text-align: center;
}
.pricing-col{
  padding: 3% 2%;
}
#cta{
  background-color:#ff4c68;
  color: #fff;
  font-family: 'Ubuntu';
  font-weight: 800;
  padding: 3% 15%;
  text-align: center;
}
#footer{
  padding: 3% 15%;
  text-align: center;
  background-color: #fff;
}
.foot{
  padding: 2.5%;
}
@media (max-width:1010px) {
#title{
  text-align:center;

}
.iphone-mockup{
  position: static;
  transform: rotate(0);
}
}
